@use "@styles/lootery-ny/mixins" as *;

.lootery-instructions {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;

    &__title {
        margin-bottom: 20px;

        @include media-min(mob-md) {
            margin-bottom: 30px;
        }

        @include media-min(mob) {
            margin-bottom: 50px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include media-min(mob) {
            gap: 20px;
        }
    }

    &__note {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        margin-left: 3.5%;
        margin-right: 3.5%;

        &-icon {
            flex: 0 0 auto;

            svg {
                display: block;
                width: 32px;
                height: 32px;
            }
        }

        &-text {
            font-weight: 600;
            font-size: 12px;
            line-height: 1.3;
            color: $color-accent;
        }

        @include media-min(mob-md) {
            margin-left: 2.21%;
            margin-right: 2.21%;
            align-items: center;

            &-icon {
                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            &-text {
                font-size: 14px;
            }
        }

        @include media-min(mob) {
            margin-top: 34px;
            margin-left: 4%;
            margin-right: 4%;
            align-items: center;
            gap: 17px;

            &-text {
                font-size: 17px;
            }
        }
    }
}
