@use "@styles/lootery-ny/mixins" as *;

.prizes {
    display: grid;
    gap: 10px;

    @include grid-columns(2);

    @include media-min(tab) {
        gap: 15px;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

        //@include grid-columns(6);

        grid-template-areas:
            "second second first  third third"
            "fifth fifth first  fourth fourth"
            "seventh eighth sixth  ninth tenth";
    }
}
