@use "@styles/lootery-ny/mixins" as *;

.lootery-winners {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;

    &__title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;

        @include media-min(mob-md) {
            font-size: 24px;
        }

        @include media-min(mob) {
            margin-bottom: 40px;
            font-size: 36px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__photo {
        margin-top: -3.5rem;
        display: flex;
        justify-content: center;
        pointer-events: none;
    }

    &__image {
        width: 19.5625rem;
    }
}
