---
import Layout from '@layouts/Layout.astro';
import Picture from '@components/modules/Picture.astro';

import Promo from '@components/sections/Promo.astro';
import Prizes from '@components/sections/Prizes.astro';
import MyTickets from '@components/sections/MyTickets.astro';
import Instructions from '@components/sections/Instructions.astro';
import Faq from '@components/sections/Faq.astro';

const prizes = [
    {
        title: 'Царь-пекарня',
        count: '1 шт.',
        image: 'pc',
        param: 'RTX 5090 + 9800X3D',
        text: 'Сидни Суини геймерских компов. Внешка 10&nbsp;из&nbsp;10, а&nbsp;начинка слаще, чем у&nbsp;кремового торта. Конфиг с&nbsp;последней видюхой и&nbsp;кастомным оформлением в&nbsp;стиле вашего любимого аниме (или чего попросите).',
        note: '*Внешний вид приза может отличаться от&nbsp;его изображения в&nbsp;рекламных материалах.',
    },
    {
        title: 'Playstation 5 Pro',
        count: '3 шт.',
        image: 'playstation',
        param: '',
        text: 'Зверь-машина от&nbsp;Sony с&nbsp;SSD пятого размера. Влезут все эксклюзивы и&nbsp;даже больше. С&nbsp;другой стороны, а&nbsp;куда они не&nbsp;влезут.',
        note: '',
    },
    {
        title: 'Монитор LG 27GX790A-B',
        count: '3 шт.',
        image: 'lg',
        param: '',
        text: 'Сын маминой подруги среди мониторов. OLED, 480&nbsp;Гц, минимальное время отклика. Сможете отвешивать фликшоты, как ZywOo или m0NESY.',
        note: '',
    },
    {
        title: 'iPhone 17 Pro Max',
        count: '5 шт.',
        image: 'iphone',
        param: '',
        text: 'Большой, матовый, гладкий. Приятно обдает  руки прохладой, когда у&nbsp;вас пар валит из&nbsp;ушей.  И&nbsp;достаточно прочный, чтобы пережить любой тильт из-за слива катки.',
        note: '*Внешний вид приза может отличаться от&nbsp;его изображения в&nbsp;рекламных материалах.',
    },
    {
        title: 'OnePlus 15',
        count: '5 шт.',
        image: 'oneplus',
        param: '',
        text: 'Смартфон, который не&nbsp;умирает на&nbsp;каждой обнове Genshin. Топовый процессор, экран 165&nbsp;Гц и&nbsp;огромная батарея, которой хватит, даже если вы&nbsp;остались на&nbsp;продленку.',
        note: '*Внешний вид приза может отличаться от&nbsp;его изображения в&nbsp;рекламных материалах.',
    },
    {
        title: 'Steam Deck OLED',
        count: '10 шт.',
        image: 'steam',
        param: '',
        text: 'Ваш дружелло в поездках к непонятным родственникам. Просто баррикадируем ванную, запускаем Arc Raiders и кэмпим,  пока не вынесут дверь.',
        note: '*Внешний вид приза может отличаться от&nbsp;его изображения в&nbsp;рекламных материалах.',
    },
    {
        title: 'Фирменный стакан FunPay',
        count: '50 шт.',
        image: 'cup',
        param: '',
        text: 'Святой Грааль для ценителей протеина, матчи на&nbsp;миндальном и&nbsp;минералки. Если вы&nbsp;не&nbsp;performative male, можете налить в&nbsp;него и&nbsp;газировки.',
        note: '*Внешний вид приза может отличаться от&nbsp;его изображения в&nbsp;рекламных материалах.',
    },
    {
        title: 'Фирменная толстовка FunPay',
        count: '50 шт.',
        image: 'hoodie',
        param: '',
        text: 'Легкая броня.&nbsp;+10% к&nbsp;защите от&nbsp;холода, +15&nbsp;к&nbsp;стилю и&nbsp;случайный бонус к&nbsp;удаче в&nbsp;торговле. Можно зачаровать у&nbsp;Миши на&nbsp;защиту от&nbsp;&laquo;АУУУУУ&raquo;.',
        note: '*Внешний вид приза может отличаться от&nbsp;его изображения в&nbsp;рекламных материалах.',
    },
    {
        title: 'Игры на&nbsp;сумму 10&nbsp;000&nbsp;₽',
        count: '100 шт.',
        image: 'games10',
        param: '',
        text: 'Хватит, чтобы обеспечить пучьем жорно Silksong себя, брата и&nbsp;семьи половины класса.',
        note: '',
    },
    {
        title: 'Игры на&nbsp;сумму 5&nbsp;000&nbsp;₽',
        count: '100 шт.',
        image: 'games5',
        param: '',
        text: 'Хватит на&nbsp;Battlefield&nbsp;6, Dispatch или любую другую игру, которую пинают на&nbsp;ютубе.',
        note: '',
    },
]

const myTickets = [
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-1843',
        tickets: '<span class="text-nowrap">№256-654</span>, <span class="text-nowrap">№648-154</span>, <span class="text-nowrap">№478-007</span>, <span class="text-nowrap">№359-148</span>, <span class="text-nowrap">№457-059</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-1843',
        tickets: '<span class="text-nowrap">№256-654</span>, <span class="text-nowrap">№648-154</span>, <span class="text-nowrap">№478-007</span>, <span class="text-nowrap">№359-148</span>, <span class="text-nowrap">№457-059</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
    {
        orderNumber: '#4332-4852',
        tickets: '<span class="text-nowrap">№648-221</span>, <span class="text-nowrap">№263-399</span>, <span class="text-nowrap">№359-452</span>',
    },
]

const instructions = [
    {
        num: '1',
        title: 'Покупайте<br> или продавайте<br> на FunPay',
        text: 'Присоединитесь к&nbsp;розыгрышу, нажав кнопку &laquo;Участвовать&raquo;. Купите или продайте любую услугу или товар на&nbsp;сумму от&nbsp;100&nbsp;₽ и&nbsp;получите первый билет. Всего можно собрать до&nbsp;100&nbsp;билетов.',
        buttonText: 'Всё, я за покупками',
    },
    {
        num: '2',
        title: 'Копите<br> билеты',
        text: 'Каждый билет может оказаться призовым. Так&nbsp;что&nbsp;с&nbsp;Лутереи можно получить не&nbsp;один, а&nbsp;сразу несколько классных подарков.',
        buttonText: 'Нужно больше билетов!',
    },
    {
        num: '3',
        title: 'Дождитесь<br> итогов',
        text: '16&nbsp;января мы&nbsp;загрузим билеты и&nbsp;разыграем призы в&nbsp;прямом эфире на&nbsp;Twitch. Во&nbsp;время трансляции найти их&nbsp;можно по&nbsp;кнопке &laquo;Посмотреть мои билеты&raquo;. Не&nbsp;пропустите эфир!',
        buttonText: 'Подписываюсь на Twitch',
    },
]

const faq = [
    {
        title: 'Где посмотреть полные правила розыгрыша?',
        text: 'Полные правила розыгрыша можно <a href="#">прочитать здесь</a>',
    },
    {
        title: 'Мне не&nbsp;начислили билеты. Что делать?',
        text: 'Проверьте, нажали&nbsp;ли вы&nbsp;кнопку &laquo;Участвовать&raquo;. А&nbsp;также статус ваших покупок и&nbsp;продаж&nbsp;&mdash;  были&nbsp;ли они завершены в&nbsp;период действия акции. Если сроки и&nbsp;условия соблюдены, а&nbsp;билеты  всё-таки не&nbsp;пришли, обратитесь в&nbsp;поддержку. Вам помогут получить недостающие билеты.',
    },
    {
        title: 'Я&nbsp;торгую через &laquo;Сделки&raquo;. Учитываются&nbsp;ли мои продажи?',
        text: 'Да, продажи, совершенные через механизм &laquo;Сделки&raquo; учитываются.  Курс начисления билетов&nbsp;&mdash; тот&nbsp;же.',
    },
    {
        title: 'Я&nbsp;торгую в&nbsp;другой валюте, не&nbsp;в&nbsp;рублях. Мои операции учитываются?',
        text: 'Да, учитываются и&nbsp;ваши покупки, и&nbsp;продажи. Вы&nbsp;получите билеты по&nbsp;внутреннему курсу FunPay.',
    },
    {
        title: 'Я&nbsp;торговал на&nbsp;FunPay, но&nbsp;не&nbsp;знал об&nbsp;акции. Билеты придут?',
        text: 'Да. В&nbsp;розыгрыше учитываются все покупки и&nbsp;продажи, совершенные с&nbsp;15&nbsp;декабря по&nbsp;15&nbsp;января. Пожалуйста, нажмите &laquo;Участвовать&raquo; на&nbsp;главной странице Лутереи и&nbsp;мы&nbsp;начислим билеты.',
    },
    {
        title: 'Я&nbsp;не&nbsp;в&nbsp;России. Могу я&nbsp;участвовать в&nbsp;розыгрыше?',
        text: 'Да. Мы&nbsp;постараемся доставить приз к&nbsp;вашему порогу, даже если вы&nbsp;в&nbsp;Западной Роблоксии.',
    },
    {
        title: 'Я&nbsp;выиграл. Кому написать, чтобы получить приз?',
        text: 'Поздравляем. Если вы&nbsp;выиграли, мы&nbsp;свяжемся с&nbsp;вами в&nbsp;личных сообщениях на&nbsp;FunPay,  чтобы обсудить доставку приза. Самостоятельно никому писать не&nbsp;нужно.',
    },
    {
        title: 'Мой заказ отменили. Билеты за&nbsp;него останутся у&nbsp;меня?',
        text: 'Нет, билеты, полученные за&nbsp;обнуленный заказ, отзовут. Они не&nbsp;будут участвовать в&nbsp;розыгрыше.',
    },
]

---
<Layout title="Лутерея">

    <Promo
        statisticTextStart="Всего"
        statisticTextLink="билетов"
        statisticTextLast="в розыгрыше:"
        statisticValue="135&nbsp;658&nbsp;224"
        title="<span class='u-text-accent'>Лут</span>ерея"
        text="Торгуйте на&nbsp;FunPay с&nbsp;15&nbsp;декабря по&nbsp;15&nbsp;января и&nbsp;участвуйте в&nbsp;розыгрыше полезного лута"
        buttonText="Участвовать"
        buttonTextLogin="Мои билетики"
        countdownTitle="До конца осталось:"
        countdownDays="дней"
        countdownHours="часов"
        countdownMinutes="минут"
    ></Promo>


    <div class="container">
        <Prizes
            items={prizes}
            modalText="Хотите бустануть свои шансы?<br> Покупайте на FunPay"
            buttonText="За покупками"
        ></Prizes>

        <MyTickets
            title="Мои билеты"
            myTicketsText1="Каждые"
            myTicketsText2="100 рублей"
            myTicketsText3="на&nbsp;FunPay приносят"
            myTicketsText4="1 билет."
            note="Чем больше билетов собрано, тем выше шанс залутать ценные призы."
            myTicketsBoxTitle1="У вас"
            myTicketsBoxTitle2="37 билетиков"
            myTicketsBoxText="<p>Всего участников: <span class='ticket-participants'>235&nbsp;6589</span></p><p>Среднее число билетов на участника: <span class='ticket-average'>15</span></p>"
            buttonText="Посмотреть мои билеты"
            items={myTickets}
            tableParamName="Заказ"
            tableValueName="Билеты"
        ></MyTickets>

        <Instructions
            title="Как участвовать?"
            items={instructions}
            note="Важно: в&nbsp;розыгрыше учитываются только продажи и&nbsp;покупки, совершённые с&nbsp;15&nbsp;декабря по&nbsp;15&nbsp;января. Торгуйте на&nbsp;FunPay и&nbsp;лутайтесь!"
        ></Instructions>

        <Faq
            title="Остались вопросы?"
            items={faq}
        ></Faq>
    </div>
</Layout>
